
<p>Demonstrating fetching data from the server.</p>

<h1>(1) Thinking Philosophers</h1>

<p *ngIf="!philosophers"><em>Loading Dinning Philosophers ...</em> (this will take some time)</p>

<table class='table table-striped' *ngIf="philosophers">
  <thead>
    <tr>
      <th>Dinning Philosophers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let philosopher of philosophers">
      <td>{{ philosopher }}</td>
    </tr>
  </tbody>
</table>

<h1>(2) Weather forecast</h1>
<p *ngIf="!forecasts"><em>Loading forcasts...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
